.login-page{

display:flex;

justify-content:center;

align-items:center;

min-height:85vh;

padding:40px;

background:

linear-gradient(

135deg,

#2563eb,

#4f46e5

);

}

.login-box{

background:white;

width:450px;

max-width:95%;

padding:45px;

border-radius:20px;

box-shadow:0 25px 60px rgba(0,0,0,.2);

animation:fadeUp .7s;

}

.login-box h1{

text-align:center;

margin-bottom:15px;

color:#2563eb;

}

.login-box p{

text-align:center;

margin-bottom:30px;

color:#666;

}

.login-btn{

width:100%;

border:none;

cursor:pointer;

font-size:17px;

}

.login-footer{

margin-top:30px;

font-size:14px;

color:#666;

}

.login-footer ul{

margin-top:10px;

padding-left:20px;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}